{% extends "ebshare/index.html" %}
{% block body %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style = "padding:40px 15px; text-align: center;">
                <h1> Oops! Your Account has not yet been approved! </h1>
                <div style = "margin-right:10px;">
                    <a href='/' class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home">
                    </span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}