{% extends "ebshare/index.html" %}
{% load staticfiles %}
{% block body %}
<div class="aboutus">
<br /><br /><br />
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">EBShare</h1>
                        <p class="intro-text">This website is a class project that Moustafa Elshaabiny, Jean Pena and Abhishek Samdaria worked on during the Fall of 2015. We designed an online web platform that provides a catalog of available electronic books. Each E-book has a cover-page, a .txt file including the contents of the book (so lame we know, but it works for our demo purposes) and a summarized description to be displayed in the catalog and the number of points need to read the book for a certain time.</p>
                        <a href="#ups" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Uploading a book -->
    <section id="ups" class="alt-sect container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Uploading a book</h2>
                <p>Upon registration, users can go to their profile pages and upload a book as described above. They can find it, along with any other book they uploaded, by pressing the “Associated Books” button on their profile or with the rest of the books in our database under the “Bookshelf” tab on the navigation bar.
	While uploading a book, the user can select how much does reading this book cost (in points). Also, she can ask for a certain number of points to be deposited in her account as a reward (this is the only way users can earn points). The more books a user uploads the more points she can win, which means she can buy more reading time for other books.</p>
            </div>
        </div>
		
    </section>
    <!-- Reading a book -->
    <section id="read" class="alt-sect2 container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Reading a book</h2>
                <p>Any registered user, with enough points on their profile, can check out our bookshelf and select the book they’re interested in reading. If a user does not have enough points, she can invite another user to read it and split the points required to read the chosen book amongst them. As soon as users start reading a book, a countdown timer starts. Once they close the book, our system deducts the amount of points equivalent to the time they read it for.</p>
            </div>
        </div>
    </section>
		
    </section>
    <!-- Reviewing a book -->
    <section id="review" class="alt-sect3 container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Reviewing a book</h2>
				<p>Users can rate and review books only after reading it. The users’ rates are weighted with respect to how much time did they spend on reading it. The longer they read it, the heavier (has more confidence) their rate becomes. The rate (in stars) of any book is accumulated.</p>
            </div>
        </div>
    </section>
		
    </section>
    <!-- Bad Words in a book -->
    <section id="curses" class="alt-sect4 container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Bad Words Search</h2>
                	<p>Any registered user can have their own choice of bad words. They can search a book for bad words and complain about it based on this. Any book that receives 3 complaints will be removed automatically by our system and the points that were granted to the user who uploaded that book will be deducted from their account. If a user whose books are removed twice will be banned from using our platform.</p>
                  
            </div>
        </div>
    </section>
	
    </section>
    <!-- Recommending a book -->
    <section id="recommend" class="alt-sect5 container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Recommendations</h2>
                	<p>We also have a basic recommendation system. Overtime a registered user logs in 3 books of the same genre as their last read book will be shown on the home page. If the user never read a book no books will be shown on the home page.</p>
            </div>
        </div>

		<!-- Final notes -->
<section id="finally" class="alt-sect6 container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
               <p>Final note, this project is not meant for production. It is not perfect, but it is functional and was a great learning experience.</p>
                <p>P.S. Most of the features mentioned above originally were administered by a superuser account. However, we wanted to make it live an accessible for the online audience to showcase our work without waiting requiring users to wait until they’re approved. As a result, we disabled the approval process and opened our website up for the public. So please be mindful of what you upload.
                </p>
            </div>
        </div>
    </section>
	</div>
{% endblock %}
