{% extends "ebshare/index.html" %}
{% block body %}
{% load staticfiles %}

<br/>
<br/>
<br>
<br>
    <!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
			<hr/>
            <div class="col-lg-12">
                <h1 class="page-header">
					<small>Time left: </small>
					<strong><span id="time"></span></strong>
                </h1>
				
                <button class="btn btn-default primary" onclick="badWords()">Search for bad words...</button>
				<button class="btn btn-default primary" onclick="closeBook()">Close book...</button>
				<button class="btn btn-default primary" onclick="complain()">Report book...</button>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-12">
                <p>
                {{book_text}}
                </p>
            </div>

        </div>
        <!-- /.row -->

</div>
<script>

var timer;

window.onbeforeunload = function(){
	updateTime();
};

function closeBook(){
	//updateTime();
	window.location.assign('{% url "viewbook.views.renderviewbook" id %}');
}

function updateTime(){
	//update reader table
	if (timer < 0) timer = 0;
	timer = {{time_left}}-timer;
	$.ajax({
		url: '{% url "viewbook.views.updatetime" id 9999 %}'.replace("9999", timer),
		type: "POST",
		async: false
	});

	//$.post('{% url "viewbook.views.updatetime" id 0 %}'.replace("0", timer));
}

function startTimer(display) {
	var minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            alert("Time out");
			closeBook();
        }
    }, 1000);
}

window.onload = function () {
	var display = document.querySelector('#time');
	timer = {{time_left}};
	startTimer(display);
};

function badWords(){
	$.ajax({
		url: '{% url "viewbook.views.search_curses" id %}',
		type: "POST",
		async: false,
		success: function (data) {
			alert("In this book there were " + data + "occurences of your bad words.");
        },
        error: function (jXHR, textStatus, errorThrown) {
			console.log(jXHR);
			console.log(textStatus)
            alert(errorThrown);
        }
	});
}

function complain(){
	$.ajax({
		url: '{% url "viewbook.views.complain" id %}',
		type: "POST",
		async: false,
		success: function (data) {
			if(data == -1)
				alert("You alraedy complained about this");
			else
			{
				alert("The book was reported.");
				closeBook();
			}
        },
        error: function (jXHR, textStatus, errorThrown) {
			console.log(jXHR);
			console.log(textStatus)
            alert(errorThrown);
        }
	});
}

</script>
{% endblock %}
